main {
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  /* margin: 20px; */
}

main li {
  font-weight: bold;
  color: rgb(55, 55, 55);
  /* border: 1px solid; */
  margin-left: 30px;
}

.top ul {
  /* border: 1px solid; */
  padding: 20px 20px;
  border-bottom: 10px solid rgb(173, 173, 173);
  border-radius: 7px;
  margin-bottom: 30px;
}

/* Styling untuk tabel utama */
#orderTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 5px;
}

#orderTable th,
#orderTable td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#orderTable th {
  background-color: #f2f2f2;
  color: #333;
}

.order-item-content {
  background-color: #fff;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



#orderItemTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#orderItemTable th,
#orderItemTable td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#orderItemTable th {
  background-color: #f2f2f2;
  color: #333;
}

#orderItemTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}